*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* stili header */

.container{
    width: 100%;
}

a{
    text-decoration: none;
}

header .container{
    background-color: rgb(65, 65, 229);
}

.row_header{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    margin: 0 auto;
}


/* stili main */

/* DEMO */

.what_is{
    width: 70%;
    min-height: 100px;
    background-color: rgb(164, 164, 242);
    border-radius: 10px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
}


/* prima colonna */

.row div img{
    width: 100%;
    margin-bottom: -24px;
    padding-top:30px;
}

.row div span a{
    color: white;
    background-color: rgb(66, 66, 228);
    border-radius: 10px;
    padding: 5px;
    padding-right: 30px;
    padding-left: 30px;
}

.what_is h3,.what_is p{
    margin-bottom: 30px;
}


/* colonne restanti*/


.second{
    text-align: center;
}

.second h3{
    color: rgb(42, 42, 216);
}

.second i{
    font-size: 50px;
    color: rgb(42, 42, 216);
    padding-bottom: 20px;
}



/* DEVELOPMENT */

.dev_row{
    background-color: rgb(179, 123, 231);
    min-height: 300px;
    margin-top: 50px;
}

.developement{
    width: 70%;
    min-height: 100px;
    background-color: white;
    margin: 0 auto;
    border-radius: 10px;
}

/* TESTIMONIALS */

.testimonials{
    width: 70%;
    min-height: 100px;
    margin: 0 auto;
    background-color: rgb(185, 65, 232);
    margin-top: 20px;
    border-radius: 10px;
}

/* BENEFIT */

.benefit_row{
    background-color: rgb(179, 123, 231);
    min-height: 300px;
    margin-top: 50px;
    padding-bottom: 30px;
     padding-top: 30px;
}


.benefit{
    width: 70%;
    min-height: 100px;
    background-color: white;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 20px;
}

/* ABOUT US */

.about_us_row{
    width: 70%;
    margin: 0 auto;
    padding-bottom: 50px;
}

/* PRICE */

.price_row{
    background-color:rgb(179, 123, 231); 
}


/* STILI FOOTER */

.footer_row{
    color: white;
    background-color: rgb(61, 50, 50);
}







/* Tablet version */

@media all and (min-width: 481px){

/* SEZIONE WHAT IS */
    .row{
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
    } 

    .col{
        width: calc(100%/3);
    }

    #demo{
        width: calc((100%/3) * 2);
    }

    #first{
       width: 60%; 
    }

}

@media all and (min-width: 1200px){

    /* .dev{
        display: flex;
    } */
}