*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

p {line-height: 25px;}

/* stili header */

.container{
    width: 100%;
}

a{
    text-decoration: none;
}

header .container{
    background-color: rgb(65, 65, 229);
}

.row_header{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    margin: 0 auto;
}


nav ul li{display: none;}

/* stili main */

/* DEMO */

.what_is{
    width: 70%;
    min-height: 100px;
    background-color: rgb(164, 164, 242);
    border-radius: 10px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
}


/* prima colonna */

.what_is img{
    width: 100%;
    margin-bottom: -24px;
    padding-top:30px;
}

.row_demo div span a{
    color: white;
    background-color: rgb(66, 66, 228);
    border-radius: 10px;
    padding: 5px;
    padding-right: 30px;
    padding-left: 30px;
}

.what_is h3,.what_is p{
    margin-bottom: 30px;
}


/* colonne restanti*/


.second{
    text-align: center;
}

.second h3{
    color: rgb(42, 42, 216);
}

.second i{
    font-size: 50px;
    color: rgb(42, 42, 216);
    padding-bottom: 20px;
}



/* DEVELOPMENT */


.dev_row img{
    width: 70%;
    padding: 10px;
    margin: 25px;
}



.strategic h3,.strategic p {
    padding: 20px;
    color: white;
}

.dev_row{
    background-color: rgb(179, 123, 231);
    margin-top: 50px;
    padding-bottom: 50px;
}

.developement{
    width: 70%;
    background-color: white;
    margin: 0 auto;
    border-radius: 50px;
    margin-top: 30px;
    text-align: center;
    padding-bottom: 30px;
}

.developement a{
    background-color: blueviolet;
    padding: 16px;
    border-radius: 25px;
    font-size: 10px;
    color: black;
}

.developement p{
    margin-bottom: 30px;
}


/* TESTIMONIALS */

.testimonials{
    width: 70%;
    min-height: 100px;
    margin: 0 auto;
    background-color: rgb(185, 65, 232);
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
    padding-bottom: 20px;
}


.text_testimonial{
    width: 70%;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.text_testimonial span,.text_testimonial p{
    padding-top: 20px;
}
.text_testimonial h3{
    padding-top: 20px;
    font-size: 30px;
    color:  rgb(185, 65, 232);
}

.testimonial_row img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 15px;
}

.testimonial_row p{
    padding-bottom: 15px;
}

/* BENEFIT */

.benefit_row{
    background-color: rgb(179, 123, 231);
    min-height: 300px;
    margin-top: 50px;
    padding-bottom: 30px;
     padding-top: 30px;
}


.benefit{
    width: 70%;
    min-height: 100px;
    background-color: white;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 20px;
    padding: 30px;
}

.benefit_row h2 {
    color: white;
    text-align: center;
}

.benefit_row h1{
    font-size: 40px;
    color: rgb(179, 123, 231);
    margin-bottom: 10px;
}

.benefit_row h3{
    color: rgb(179, 123, 231);
    margin-bottom: 10px;
}

.benefit_row p{
    margin-bottom: 25px;
}

.benefit a{
    background-color: rgb(179, 123, 231); ;
    padding: 5px;
    border-radius: 15px;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
}

/* ABOUT US */

.about_us_row{
    width: 70%;
    margin: 0 auto;
    padding-bottom: 50px;
}

.about_us_row img{
    width: 100%;
    border-radius: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.img_about_us{
    width: 45%;
    position: relative;
}

.about_us_row span{
    color: rgb(179, 123, 231);
    font-size: 50px;
    position: absolute;
    top: 0;
    right: 0;
}

.about_us_row h2,.about_us_row h3{
    color: rgb(179, 123, 231);
    margin-bottom: 30px
  
}

.about_us_row h2{
    font-size: 40px;
    margin:15px 0;
}

.about_us_row a{
    background-color: blueviolet;
    color: white;
    padding: 5px;
    border-radius: 24px;
}

/* PRICE */

.price_row{
    background-color:rgb(179, 123, 231); 
    text-align: center;
    padding: 40px 0;
    color: white;
}

.price_row span a{
    text-decoration: underline;
    color: white;
}

.price_row h6{
    opacity: .5;
}

.price_row h1{
    font-size: 50px;
    color: #fda703;
}

.price_row h6,.price_row h2,.price_row h1,.price_row p{
    margin-bottom: 10px;
}

#button_white{
    margin: 25px 0;
}

#button_white a{
    color: rgb(179, 123, 231);
    background-color: white;
    padding: 10px 30px;
    border-radius: 20px;;
}




/* STILI FOOTER */

.footer_row{
    color: white;
    background-color: rgb(74, 72, 72);
    padding: 50px;
    text-align: center;
}

.footer_row p{
    margin-bottom: 30px;
}

.footer_row span a{
    color: rgb(179, 123, 231)
}






/* Tablet version */



@media all and (min-width: 481px){

    nav ul li{display: none;}

    .row_header{
        width: 90%;
    }

/* SEZIONE WHAT IS */

    .what_is{
        width: 100%;
        height: 100%;
    }

    
    .what_is img {
        width: 100%;
        margin-bottom: -75px;
        padding-top: 30px;
    }

    .row_demo{
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin: 0 auto;
    } 
    

    .col_demo{
        width: calc(100%/3);
        padding: 10px;

    }


    #demo{
       width: calc((100%/3) * 2); 
    }

/*SEZIONE  DEVELOPMENT */
    .dev_row img{
    width: 90%;
    padding: 10px;
    margin: 25px;
    }

    .developement{
        width: 90%;
    }


/* SEZIONE TESTIMONIALS */

    .text_testimonial{
        width: 90%;
    }

    .testimonials{
        width: 90%;
        display: flex;
        align-items: center;
        border-radius: 25px;
    }

    .testimonials img{
        margin-left: 20px;
    }

    .testimonials div{
        margin-left: 15px;
        text-align: initial;
    }

/* SEZIONE BENEFIT */

    h2 {
        width: 100%;
    }

    .benefit{
        width: 90%;
    }

    .col_benefit {
        width: 50%;
        margin-top: 20px;
        
    }

    .benefit_row {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    /* SEZIONE ABOUT US */

    .about_us_row{
        display: flex;
    }

    .img-linkedin-about-us{
        width: 50%;
    }

    .text-about-us{
        width: 50%;
        margin-right: 30px;
    }

    /* SEZIONE PREZZO */

    .price_father{
        background-color: rgb(179, 123, 231)
    }

    .price_row{
        width: 70%;
        margin: 0 auto;
    }

    /* FOOTER */

    .footer_father{
        background-color: rgb(74, 72, 72);
    }

    .footer_row{
        width: 70%;
        margin: 0 auto;
    }


}


/* DESKTOP VERSION*/

@media all and (min-width: 1200px){

/* HEADER */

header{
    background-color: blue;
}

.row_header{
    width: 90%;
}

.row_header i{
    display: none;
}

.row_header li{
    display: inline-block;
    padding-right: 20px;
}


nav ul li:last-child a {
    color: black;
    padding: 8px 15px;
    background-color: white;
    border-radius: 25px;
}

nav ul li a{
    color: white;
}


/* SEZIONE DEMO */

.desktop_demo{
    display: flex;
    width: 100%;
}

.what_is{
    height: 100%;
}

.what_is img {
    width: 80%;
    margin-bottom: -75px;
    padding-top: 30px;
}


/*SEZIONE  DEVELOPMENT */

    .developer{
        background-color: rgb(148 151 223);
    }

    .dev_row{
        display: flex;
        background-color: transparent;
    }

    .col_developer{
        width: 100%;
    }

    .developement{
        margin: 100px;
        width: 50%;
    }

    .strategic{
        width: 50%;
        margin-left: 297px;
    }

    /* SEZIONE TESTIMONIALS */

      .testimonials{
        width: 80%;
      }

      .testimonial_row{
        margin-bottom: 50px;
      }

      /* SEZIONE BENEFIT */

      h2 {
        width: 100%;
    }

    .col_benefit {
        width: 33%;
        
    }

    .benefit_row {
        display: flex;
        flex-wrap: wrap;
    }

    /* SEZIONE PREZZO */

    .price_row{
        width: 70%;
        margin: 0 auto;
    }
    
    .footer_father{
        background-color: rgb(74, 72, 72);
    }

    .footer_row{
        width: 70%;
        margin: 0 auto;
    }


}